<head>
    <title>my web</title>
</head>


<h1><b>Web Developer</b></h1>
<h2>Front - end Developer</h2>
<h3>ภาษาควรรู้ : HTML,CSS,JavaScript</h3>
<h3>Framework ควรรู้ : Laravel,Node.js,Spring</h3>
<h4>ลองใช้สัญลักดูซิ</h4>
<h1>&#402;(x)dx<sup>2</sup>-5x + x &#10072; x-1 &#10072; </h1>